.App {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    background-image: url(../src/images/background2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}